{% extends "base.html" %}
{% from "jinja_helpers.html" import render_field %}
{% from "jinja_helpers.html" import render_button %}

{% block content %}
<div class="admin">
    <div class="container">
        <div class="admin__inner">
            <div class="admin__top">
                <div class="admin__users-list">
                    <div class="admin__users-item">
                        <div class="admin__users-item--title">
                            <h5>Users</h5>
                        </div>
                        <span>{{ data_general_table['num_users'] }}</span>
                    </div>
                    <div class="admin__users-item">
                        <div class="admin__users-item--title">
                            <h5>Active users</h5>
                        </div>
                        <span>{{ data_general_table['num_active_users'] }}</span>
                    </div>
                    <div class="admin__users-item">
                        <div class="admin__users-item--title">
                            <h5>Non-used cards</h5>
                        </div>
                        <span>{{ data_general_table['num_non_used_cards'] }}</span>
                    </div>
                    <div class="admin__users-item">
                        <div class="admin__users-item--title">
                            <h5>Total debt</h5>
                        </div>
                        <span>{{ data_general_table['total_debt'] }}</span>
                    </div>
                </div>
            </div>
            <div class="admin__main">
                <div class="admin__search">
                    <form method="post" action="{{ url_for('admin.admin_view') }}" class="admin__form">
                        {{ search_form.hidden_tag() }}
                        <div>
                            <label>
                                {{ render_field(search_form.username) }}
                            </label>
                            {{ render_button(search_form.search_button) }}
                            {{ render_button(interact_form.register_button) }}
                        </div>
                    </form>
                </div>
                {% if user %}
                <div class="admin__search-list">
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Address</h5>
                        </div>
                        <span>{{ user.address }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Name</h5>
                        </div>
                        <span>{{ user.name }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>IP</h5>
                        </div>
                        <span>{{ user.ip }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Phone</h5>
                        </div>
                        <span>{{ user.phone }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Email</h5>
                        </div>
                        <span>{{ user.email }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Tariff</h5>
                        </div>
                        <span>{{ user.tariff }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>Balance</h5>
                        </div>
                        <span>{{ user.balance }}</span>
                    </div>
                    <div class="admin__search-item">
                        <div class="admin__search-item--title">
                            <h5>State</h5>
                        </div>
                        <span>{{ user.state }}</span>
                    </div>
                </div>
                <div class="admin__search-submit">
                    <form method="POST" class="admin__search-form">
                        <div class="admin__search__buttons">
                            {{ render_button(interact_form.activate_button) }}
                            {{ render_button(interact_form.deactivate_button) }}
                            {{ render_button(interact_form.delete_button) }}
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}