html, body, div, ol, ul, li, a
h1, h2, h3, h4, h5, h6, small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button,
input {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    line-height: normal;
    border: none;
}

button {
    text-transform: none;
    background: none
}


form {
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

ol, ul{
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.login, .register, .admin {
    display: flex;
    align-items: center;
    min-height: 600px;
    vertical-align: middle;
}

.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    padding: 6px 10px;
    color: #fff;
    background-color: #222222;
}

.login__inner, .register__inner, .admin__inner {
    background-color: #e0e0e0;
    padding: 60px;
}

.login__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.login__input {
    margin-bottom: 20px;
}

.login__input, .register__input, .admin__input {
    padding: 6px 10px;
}

.register__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 20px;
}

.admin__top {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.admin__users-list, .admin__search-list {
    display: flex;
    justify-content: space-between;
}

.admin__users-item, .admin__search-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.admin__users-item--title, .admin__search-item--title {
    background-color: #c0c0c0;
    padding: 10px 10px;
    border-bottom: 1px solid #000;
}

.admin__users-item span, .admin__search-item span{
    padding: 10px 6px;
}

.admin__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__form-label {
    display: flex;
    align-items: center;
}

.admin__search {
    margin-bottom: 30px;
}

.admin__search-list {
    margin-bottom: 20px;
}

.admin__search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username__inner {
    padding: 20px;
}

.username__tabs-item {
    padding: 10px 16px;
    background-color: #cccccc;
}

.username__tabs-content {
    padding: 20px 0;
}

.username__tabs-block {
    display: none;
}

.username__tabs-block:target {
    display: block;
}

.info {
    display: flex;
}

.info__left, .info__right {
    display: flex;
    flex-direction: column;
}

.info__left {
    background-color: #c0c0c0;
}

.info__right {
    width: 100%;
}

.info__left strong, .info__right small {
    padding: 10px 16px;
    border: 1px solid #000;
}

.payment__form {
    display: flex;
    align-items: center;
}

.payment__form input {
    border: 1px solid #000;
    margin: 0 20px;
    padding: 5px 0;
}

.history {
    display: flex;
    justify-content: space-between;
}

.history__block {
    width: 100%;
}

.history__list li{
    padding: 10px;
    border: 1px solid #000;
}

.history__title {
    background-color: #c0c0c0;
    padding: 10px;
    border: 1px solid #000;
}
