{% macro render_field(field, field_class) %}
    {% if field.errors %}
        <div>
            {{ field(class=field_class+" is-invalid") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ field(class=field_class) }}
    {% endif %}
{% endmacro %}

{%  macro render_button(button) %}
    {{ button(class="btn") }}
{%  endmacro %}