{% extends "base.html" %}

{% block content %}
<div class="username">
    <div class="container">
        <div class="username__inner">
            <div class="username__tabs">
                <nav class="username__tabs-list">
                    <a href="#tab_01" class="username__tabs-item">Info</a>
                    <a href="#tab_02" class="username__tabs-item">Payment</a>
                    <a href="#tab_03" class="username__tabs-item">History</a>
                </nav>
                <div class="username__tabs-content">
                    <div id="tab_01" class="username__tabs-block">
                        <div class="info">
                            <div class="info__left">
                                <strong>Address</strong>
                                <strong>Name</strong>
                                <strong>IP</strong>
                                <strong>Phone</strong>
                                <strong>Email</strong>
                                <strong>Tariff</strong>
                                <strong>Balance</strong>
                                <strong>State</strong>
                            </div>
                            <div class="info__right">
                                {% for info in user_info %}
                                    <small>{{ info }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="tab_02" class="username__tabs-block">
                        <div class="payment">
                            <form action="" class="payment__form" method="post">
                                <label for="name">Serial number</label>
                                <input type="text" id="name" name="user_name">
                                <button class="btn" type="submit">Enter</button>
                            </form>
                        </div>
                    </div>
                    <div id="tab_03" class="username__tabs-block">
                        <div class="history">
                            <div class="history__block">
                                <h3 class="history__title">Date</h3>
                                <ul class="history__list">
                                    {% for history in user_history %}
                                        <li>{{ history.used_at }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="history__block">
                                <h3 class="history__title">Sum</h3>
                                <ul class="history__list">
                                    {% for history in user_history %}
                                        <li>{{ history.amount }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="history__block">
                                <h3 class="history__title">Balance</h3>
                                <ul class="history__list">
                                    {% for history in user_history %}
                                        <li>{{ history.balance_after_use }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}