{% extends "base.html" %}

{% block content %}
<div class="login">
    <div class="container">
        <div class="login__inner">
            <h3 class="title">Login</h3>
            <form action="" class="login__form" method="POST">
                {{ form.hidden_tag() }}
                <label>
                    {{ form.username() }}
                </label>
                <label>
                    {{ form.password() }}
                </label>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}