{% extends "base.html" %}
{% from "jinja_helpers.html" import render_field %}
{% from "jinja_helpers.html" import render_button %}

{% block content %}
<div class="login">
    <div class="container">
        <div class="login__inner">
            <h3 class="title">Login</h3>
            <form method="POST" class="login__form" novalidate>
                {{ form.hidden_tag() }}
                <label>
                    {{ render_field(form.username) }}
                </label>
                <label>
                    {{ render_field(form.password) }}
                </label>
                {{ render_button(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}