{% extends "base.html" %}
{% from "jinja_helpers.html" import render_field %}
{% from "jinja_helpers.html" import render_button %}

{% block content %}
<div class="register">
    <div class="container">
        <div class="register__inner">
            <h3 class="title">Register</h3>
            <form method="POST" class="register__form" novalidate>
                {{ form.hidden_tag() }}
                <label>
                    {{ render_field(form.username, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.email, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.password, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.repeat_password, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.phone, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.name, "admin__field") }}
                </label>
                <label>
                    {{ render_field(form.address, "admin__field") }}
                </label>
                {{ render_field(form.tariff_select, "admin__field") }}
                {{ render_button(form.submit) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}